html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "TT Lakes";
  src: url(/fonts/TTLakes-Regular.woff) format("woff"),
    url(/fonts/TTLakes-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT Lakes";
  src: url(/fonts/TTLakes-Medium.woff) format("woff"),
    url(/fonts/TTLakes-Medium.ttf) format("ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT Lakes";
  src: url(/fonts/TTLakes-Bold.woff) format("woff"),
    url(/fonts/TTLakes-Bold.ttf) format("ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT Lakes";
  src: url(/fonts/TTLakes-Light.woff) format("woff"),
    url(/fonts/TTLakes-Light.ttf) format("ttf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "TT Lakes", sans-serif;
}

.header {
  background-color: #ffffff;
  display: flex;
}
.header__nav {
  display: flex;
  align-items: center;
  margin: 18.73px 78.27px 46.27px 16.73px;
}
.round-icon {
  display: flex;
}
.header__logo {
  display: ;
}
.round-icon {
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.round-icon--burger {
  background-image: url("images/burgeropen.svg");
  margin-right: 16.73px;
}
.round-icon--call {
  background-image: url("images/call.svg");
}
.round-icon--chat {
  background-image: url("images/chat.svg");
}
.round-icon--profile {
  background-image: url("images/profile.svg");
}
.round-icon--repair {
  background-image: url("images/repair.svg");
}
.round-icon--checkstatus {
  background-image: url("images/search320px.svg");
  margin-left: 78.27px;
}

.main-title__highlight {
  /* position: absolute; */
  left: 0;
  width: 4px;
  height: 40px;
  background-image: url("images/highlight.svg");
}

.slidemenu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 86vh;
}

.slidemenu__options {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.slidemenu__item {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 32px;
  position: relative;
}

.slidemenu__link {
  text-decoration: none;
  color: inherit;
  border: 2px solid transparent;
  margin-left: 24px;
  color: #1b1c21;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  letter-spacing: -0.2px;
}
.slidemenu__link--main {
  color: #7e7e82;
}

.slidemenu__link:hover {
  border: 2px solid #b8ffec;
  background-color: #ffffff;
  border-radius: 5px;
}

.slidemenu__bottom {
  display: flex;
  flex-direction: column;
  padding-left: 24px;
  margin-top: auto;
}
.slidemenu__bottom-buttons {
  display: flex;
  gap: 16px;
}
.slidemenu__bottom-contats {
  display: flex;
}
.slidemenu__bottom-mail {
  display: flex;
  padding-top: 12px;
}
.slidemenu__bottom-contats__email {
  color: #1b1c21;
  text-decoration: none;
  font-weight: normal;
  line-height: 24px;
  letter-spacing: -0.2px;
}

.slidemenu__bottom-phone {
  padding-top: 12px;
  display: flex;
}
.slidemenu__bottom-contats__phone {
  color: #1b1c21;
  text-decoration: none;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: -0.2px;
}
.slidemenu__bottom-languages {
  display: flex;
  padding-top: 40px;
  gap: 1em;
}
.slidemenu__bottom-languages--ru,
.slidemenu__bottom-languages--en,
.slidemenu__bottom-languages--ch {
  text-decoration: none;
  color: #1b1c21;
}
.lang--active {
  color: #7e7e85;
}
.round-icon:hover {
  opacity: 0.7;
}
